<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Animes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!data.length">Você ainda não tem nenhum anime na sua lista.</p>

	<ion-list *ngIf="data.length" no-padding>
	  <button ion-item *ngFor="let anime of data" (click)="openAnime(anime.data.slug, anime.data.title)">
	    <ion-thumbnail item-start>
	      <img src="{{ anime.data.image }}">
	    </ion-thumbnail>
	    <h2>{{anime.data.title}}</h2>
	    <p>
	    	{{anime.data.description}}
        <p>
	  </button>
	</ion-list>

  <button ion-button full (click)="goToList()">Adicionar</button>

</ion-content>
