/* .refresher-pulling-icon, .refresher-refreshing-icon {
  color: #fff;
}

.refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line, .refresher-refreshing .spinner-crescent circle {
  stroke: #fff;
}
*/

.card-md {
	background: white;
	.item-inner { padding-right: 0 !important; }
	.label { margin: 0; }
}